.container_threads{
    .addtopic_btn{
        display: inline-flex;
        border: #0f6fa0 0px solid;
        flex-direction: column;
        justify-content: center;
        background-image: -webkit-linear-gradient(top, #0f6fa0 0%, #0076B1 10px, #00a2ff 110px, #06608d 100%);
        border-radius: 6px;
        box-sizing: border-box;
        color: #fff;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        padding: 4px;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        a{
            text-decoration: none;
            align-items: center;
            background: transparent;
            border-radius: 6px;
            display: flex;
            color: #cadceb;
            justify-content: center;
            height: 100%;
            padding: 5px;
            transition: background .5s ease;
            width: 100%;
            border: none;
            font-size: 16px;
            font-weight: 600;
        }
        &:hover{
            cursor: pointer;
            color: #fff;
            a{
                outline: none;
                cursor: pointer;
                background-image: -webkit-linear-gradient(top, #D2E0EB 0%, #EEF5F9 100%);
                color: #105289;
            }
        }
    }
    .topic_family{
        background-color: #CADCEB;
        border-radius: 7px;
        font-size: 1.1em;
        line-height: 2.2em;
        list-style-type: none;
        margin-bottom: 15px;
        padding: 3px 15px;
        color: #105289;
        .family_part{
            color: #105289;
            text-decoration: none;
            white-space: nowrap;
            &:hover{
                text-decoration: underline;
                color: #D31141;
            }
        }
        .chvr_needed{
            &:after {
                content: '\276F';
                font-weight: bold;
                padding: 0 0.5em;
            }
        }
        @include respond(mobile){
            font-size: 14px;
        }
    }
    .container_threads_inner{
        margin-bottom: 4px;
        padding: 5px;
        border-radius: 7px;
        background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #12A3EB 2px, #0076B1 92px, #0076B1 100%);

        .threads_header, .thread_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .threads_header{
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            padding: 5px 10px;
            .threads_replies_container, .threads_latest_reply_info_container{
                flex: 1;
            }
            .threads_info_container{
                flex: 2;
                @include respond(mobile){
                    flex: 1;
                }
            }
            .threads_replies_container{

                text-align: center;
                @include respond(mobile) {
                    display: none;
                }
            }
            .threads_latest_reply_info_container{
                @include respond(mobile){
                    flex: 1;
                }
            }
        }
        .container_threads{
            background-image: -webkit-linear-gradient(top, #D2E0EB 0%, #EEF5F9 100%);
            
            .thread_container{
                border-top: 1px solid #FFFFFF;
                border-bottom: 1px solid #00608F;
                padding-left: 10px;
                padding-right: 10px;
                color: #4C5D77;
                display: flex;
                height: 55px;
                .thread_info_container, .thread_reply_count_container, .thread_latest_reply_info_container{
                    border-left-color: #FFFFFF;
                }
                .thread_info_container{
                    display: flex;
                    align-items: center;
                    flex: 2;

                    font-size: 16px;
                    font-weight: 500;
                    font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
                   
                    .thread_img_container{
                        padding: 10px;
                        flex: 1;
                        img{
                            width: 55%;
                        }
                        @include respond(mobile){
                            display: none;
                        }
                    }
                    .thread_info{
                        flex: 8;
                        color: #4C5D77;
                        font-family: Verdana, Helvetica, Arial, sans-serif;
                        font-size: 0.7em;
                        a.thread_link{
                            color: #105289;
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;
                            font-family: "Trebuchet MS",Helvetica,Arial,Sans-serif;
                            &:hover {
                                color: #d31141;
                            }
                        }
                        .author_date_time{
                            font-size: 1em;
                            
                        }
                        .username{
                            color: #D31141;
                        }
                    }
                    @include respond(mobile){
                        flex: 1;

                    }
                }
                .thread_reply_count_container{
                    text-align: center;
                    flex: 1;
                    @include respond(mobile){
                        display: none;
                    }
                    
                }
                &:hover {
                    background-color: #f6f4d0;
                }
                .thread_latest_reply_info_container{
                    color: #4C5D77;
                    font-family: Verdana, Helvetica, Arial, sans-serif;
                    font-size: 0.7em;
                    flex: 1;
                    .username{
                        color: #D31141;
                    }
                    @include respond(mobile){
                        flex: 1;
                        margin-left: 10px;
                    }
                }
                @include respond(mobile){
                    height: 95px;
                }
            }
        }
        .no_threads{
            padding: 15px;
            text-align: center;
            display: block;
            font-family: 'Josefin Sans', sans-serif;
            @include respond(mobile){
                font-size: 15px;
            }
        }
    }
}