.container_thread{
    button.reply_btn{
        display: inline-flex;
        border: #0f6fa0 0px solid;
        flex-direction: column;
        justify-content: center;
        background-image: -webkit-linear-gradient(top, #0f6fa0 0%, #0076B1 10px, #00a2ff 110px, #06608d 100%);
        border-radius: 6px;
        box-sizing: border-box;
        color: #fff;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        padding: 4px;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        a{
            text-decoration: none;
            align-items: center;
            background: transparent;
            border-radius: 6px;
            display: flex;
            color: #cadceb;
            justify-content: center;
            height: 100%;
            padding: 5px;
            transition: background .5s ease;
            width: 100%;
            border: none;
            font-size: 16px;
            font-weight: 600;
        }
        &:hover{
            cursor: pointer;
            color: #fff;
            a{
                outline: none;
                cursor: pointer;
                background-image: -webkit-linear-gradient(top, #D2E0EB 0%, #EEF5F9 100%);
                color: #105289;
            }
        }
    }
    .thread_family{
        background-color: #CADCEB;
        border-radius: 7px;
        font-size: 1.1em;
        line-height: 2.2em;
        list-style-type: none;
        margin-bottom: 15px;
        padding: 3px 15px;
        color: #105289;
        .family_part{
            color: #105289;
            text-decoration: none;
            white-space: nowrap;
            &:hover{
                text-decoration: underline;
                color: #D31141;
            }
        }
        .chvr_needed{
            &:after {
                content: '\276F';
                font-weight: bold;
                padding: 0 0.5em;
            }
        }
        @include respond(mobile){
            font-size: 14px;
        }
    }
    .container_replies{
        .header_thread{
            color: #105289;
            font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
            font-size: 0.9em;
            font-weight: 800;
            text-align: center;
            margin-bottom: 10px;       
        }
        .container_reply{
            font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

            border: 1px solid #00608f;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: #CADCEB;
            border-radius: 7px;
            margin-bottom: 15px;
            padding-bottom: 10px;
            .reply_user_info{
                width: 33.33%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .user_username{
                    color: #105289;
                    font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
                    font-size: 1.5em;
                    font-weight: 800;
                }
                .user_favourite_driver{
                    background-image: -webkit-linear-gradient(bottom, #41c0ff 0%, #0076B1 1px, #12A3EB 19px, #12A3EB 100%);
                    color: white;
                    border-radius: 7px;
                    padding: 2.5px 10px;
                }
                .user_avatar_container{
                    width: 40%;
                    max-width: 100px;
                    margin: 5px 0px 5px 0px;
                    border-radius: 500px;
                    .user_avatar{
                        width: 100%;
                        border-radius: inherit;
                    }
                }
                .user_role{
                    color: white;
                    margin: 5px 0px 5px 0px;
                    span.visitor{
                        background-image: -webkit-linear-gradient(bottom, #41c0ff 0%, #0076B1 1px, #12A3EB 19px, #12A3EB 100%);          
                        padding: 2.5px 10px;
                        border-radius: 7px;
                    }
                    span.admin{
                        background-image: -webkit-linear-gradient(bottom, #ff4141 0%, #b10000 1px, #eb1212 19px, #eb1212 100%);          
                        padding: 2.5px 10px;
                        border-radius: 7px;
                    }
                }
                .user_posts_made{
                    font-size: 0.7em;
                }
                @include respond(tablet){
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    border-bottom: 1px solid #00608f;
                }
            }
            .reply_post_body{
                width: 66.66%;

                .post_info{
                    width: 100%;
                    height: 40px;                    
                    .post_body_datetime_container{
                        width: 75%;
                        @include respond(tablet){
                            width: 80% !important;
                            margin: 0 auto;
                        }
                    }
                    .is_author{
                        margin-top: 10px;
                        margin-bottom: 20px;

                        width: 25%;
                        span.author{
                            background-image: -webkit-linear-gradient(bottom, #ffc341 0%, #b18200 1px, #eb8d12 19px, #eb9812 100%);          
                            padding: 2.5px 10px;
                            border-radius: 7px;
                            color: white;
                        }
                        @include respond(tablet){
                            width: 100% !important;
                        }
                    }
                    .post_body_datetime_container, .is_author{
                        text-align: left;
                        font-size: 0.7em;
                        display: inline-block;
                        margin-top: 10px;
                    }
                    @include respond(tablet){
                        width: 100%;
                        width: 100% !important;
                        margin-left: 5%;
                    }
                }
                
                .post_body_post{
                    padding: 10px;
                    width: 95%;
                    border-radius: 7px;
                    background-color: rgb(255, 255, 255);
                    font-size: 1.2em;
                    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    @include respond(tablet){
                        width: 90%;
                        margin: 0 auto;
                    }
                }
                .reply_author{
                    margin-top: 25px;
                }
                @include respond(tablet){
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }
}