*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'media';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    
    @include respond(mobile) {
        min-width: 0px;        
    }
    @include respond(tablet) {
        min-width: 0px;
    }
    .container_main{
        max-width: 1440px;
        border: 2px solid darkgrey;
        background-color: white;
        padding: 15px;
        min-width: 625px;
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        width: 90%;
        //.container_hdr
        @import 'header';
        //container_categories
        @import 'categories';
        //container_threads
        @import 'threads';
        //container_thread
        @import 'thread';
        //container_form_register
        @import 'register';
        //container_form_login
        @import 'login';
        //container_new_thread
        @import 'new_thread';
        //container_reply
        @import 'reply';
        //container_Admin_index
        @import 'admin_index';
        //container_addcat
        @import 'admin_addcat';
        //container_addsubcat
        @import 'admin_addsubcat';
        @include respond(mobile) {
            min-width: 0px;
            width: 95%;
            padding: 10px;
        }
        @include respond(tablet) {
            min-width: 0px;
            width: 90%;   
        }
    }
     //container_ftr
        @import 'footer';
}