*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'media';
body{
    background-color: #333;
    @include respond(mobile) {
        min-width: 0px;        
    }
    @include respond(tablet) {
        min-width: 0px;
    }
    .container_main{
        max-width: 1440px;
        border: 2px solid darkgrey;
        background-color: white;
        padding: 15px;
        min-width: 625px;
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
        box-sizing: border-box;
        //.container_hdr
        @import 'header';
        @include respond(mobile) {
            min-width: 0px;
            width: 90%;
        }
        @include respond(tablet) {
            min-width: 0px;
            width: 90%;   
        }
    }
}